---

---
<div class="pkg controller" data-pkg="agency-pkg-fullscreen/wrapper" data-controller="agency-pkg-fullscreen/wrapper">
  <div data-hook="scroll-preventer">
    <div data-hook="content">
      {{#block "content"}}{{/block}}
    </div>
  </div>
</div>
