<div class="pkg controller" data-pkg="agency-pkg-fullscreen/wrapper" data-controller="agency-pkg-fullscreen/wrapper">

  <span class="check" data-hook="check"></span>

  <div class="clue" data-hook="clue">
    <span>
      swipe up<br /> for fixed window
    </span>
  </div>

  <div class="scroll-preventer" data-hook="scroll-preventer">
    <span class="spacer" data-hook="spacer"></span>
    <div class="content" data-hook="content">

      {{#block "content"}}{{/block}}

    </div>
  </div>

</div>
