
@import "agency-pkg-docs";

@import "../../src/wrapper/index.pcss";
@import "../../src/close-button/index.pcss";
@import "../../src/clue/index.pcss";

html {
  &, body {
    margin: 0;
    height: 100%;
  }
}
