<div class="pkg controller clue" data-pkg="agency-pkg-fullscreen/clue" data-controller="agency-pkg-fullscreen/clue" data-hook="clue"{{#if target}} data-target="{{{target}}}"{{/if}}>
  <span class="swipe">
      swipe up<br /> for fullscreen
    </span>
  <span class="native">
      click<br /> for fullscreen
    </span>
</div>
