---
title: 'Close Fullscreen'
---
<span class="pkg controller" data-pkg="agency-pkg-fullscreen/close-button" data-controller="agency-pkg-fullscreen/close-button"{{#if target}} data-target="{{{target}}}"{{/if}}>{{#block "title"}}{{{title}}}{{/block}}</span>
